<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="LOYAZ.Properties.Settings.lozyaConnectionString" connectionString="server=45.156.22.88;user id=user;password=User123;database=lozya" providerName="MySql.Data.MySqlClient" />
    <add name="LOYAZ.Properties.Settings.lozyaConnectionString1Local" connectionString="server=127.0.0.1;user id=root;password=;persistsecurityinfo=True;database=lozya" providerName="MySql.Data.MySqlClient" />
    <add name="localhost_lozya_Connection" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=; password=; database=lozya;persist security info=true;CharSet=utf8;" />
    <add name="localhost_lozya_Connection 1" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=root; password=; database=lozya;persist security info=true;CharSet=utf8;" />
    <add name="LOYAZ.Properties.Settings.Dayhan_lozyaConnectionString1" connectionString="server=dayhanyazilim.com;user id=IQT;password=aykuT*1809;persistsecurityinfo=True;database=lozya" providerName="MySql.Data.MySqlClient" />
    <add name="dayhanyazilim.com_lozya_Connection" connectionString="XpoProvider=MySql;server=dayhanyazilim.com;port=3306;user id=IQT; password=aykuT*1809; database=lozya;persist security info=true;CharSet=utf8;" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Office 2010 Silver</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>